@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&family=Unbounded:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
.call-box{
    background-color: rgba(0, 255, 255, 0);
    height: 60vh;
    overflow-x: hidden;
    .holder{
        z-index: 5;
        position: absolute;
        margin: auto;
      
        .sec{
            width: 90%;
            margin: auto;
            display: flex;
            z-index: 5;
            .left{
                width: 55%;
        .btn-action{
            z-index: 5;
            all: unset;
            box-shadow: none;
            font-size: 1rem;
            text-decoration: none;
            border-radius: 1rem;
            padding: 1rem 5rem;
            background-color: #6E25CB;
            color: white;
           margin-left: 7%;
           margin-top: 0%;
           &:hover{
            background-color: black;
            cursor: pointer;
           }
        }
        .customer-text{
            z-index: 5;
            font-size: 3rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            text-align: left;
            padding: 3rem;

            background: -webkit-linear-gradient(30deg,#42EE49, #4B00AB);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
            }

            .right{
                width: 40%;
                .bill-img{
                    width: 80%;
                    margin: auto;
                    margin-top: 2rem;
                }
            }
        }
       
    }
}

.line-img{
    position: absolute;
    margin-top: -19rem;
    width: 120%;
    margin-left: -4rem;
    z-index: -8;
    overflow-x: hidden;
}



@media screen and (max-width:800px) {

    .call-box{
        height: 39vh;
        z-index: 5;
        overflow-x: hidden;

    .holder{    
        overflow-x: hidden;
        .sec{
            flex-direction: column;
            width: 100%;
            
            
            .left{
                width: 99%;
                overflow-x: hidden;
                .customer-text{
                    font-size: 1.9rem;
                }
                .btn-action{
                    padding: .7rem 30% ;
                    font-size: .9rem;
                    font-weight: 900;
                }
            
            }

            .right{
                width: 95%;
                display: none;
            }
        }

    }
        .line-img{
            position: absolute;
            margin-top: -9rem;
            width: 140%;
            margin-left: -0rem;
            z-index: -8;
            overflow-x: hidden;
        }
      
    }
}








.features{
    background-color: #ffffff;
   
    z-index: 5;
    .colored{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        color:#42EE49;
        margin-top: 3rem;
        padding-top: 1rem;
    }
    .card-holder-features{
        display: flex;
        justify-content: center;
        align-items: center;
        .cards{
            padding: 2.9rem 2rem;
            margin: 1rem;
            color: white;
            h5{
                font-size: 1rem;
            }
            text-align: center;
            background-color: #42EE49;
            
            .fea{
              font-size: 2rem;  
            }


            &:hover{
                background-color: #6E25CB;
                cursor: pointer;
            }
        }
    }
    
}


@media screen and (max-width:720px) {

    .features{
        border-top: 3px solid #42EE49;
        
        .colored{
        margin: 0%;
        }
    .card-holder-features{
        flex-direction: column;

        .cards{
            padding: 1.5rem 1.5rem;
            margin: 0.4rem;
            .fea{
                font-size: 1rem;
            }

            h5{
                font-size: .5rem;
            }
        }
    }
}
}






.work{
    background-color: #4B00AB;

    .coloredx{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        color: rgb(255, 255, 255);
    }
    .card-holder-features{
        display: flex;
        justify-content: center;
        align-items: center;
        .cards{
            padding: 1.9rem 2rem;
            margin: 1rem;
            color: white;
            h5{
                font-size: 1rem;
            }
            text-align: center;
            background-color: #42ee4800;
            border-radius: 100%;
            .fea{
              font-size: 2rem; 
              margin: .5rem; 
            }
        }
    }
    
}


@media screen and (max-width:720px) {

    .work{
        .colored{
            margin-top: 6rem;
        }
    .card-holder-features{
        flex-direction: column;

        .cards{
            margin: 0%;
            padding: 1.5rem 2rem;
            .fea{
                font-size: 2rem;
            }

            h5{
                font-size: 1rem;
            }
        }
    }
}
}