#bg-body-tertiary{
    background-color: #42EE49;
}

.navbar-nav {
    
    justify-content: end;
    
   
}

#jhfjfh{
  font-family: Nico Moji ;
}
#rtx a{
    position: absolute;
    right: 50px;
}
#navbar-backgroundcolor nav{
    background-color: black;
}
#dropdown-button button{
    position: absolute;
    left: 750px;
}

#dropdown-button ul{
    position: absolute;
    left: 700px;
}
#fontcolor a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    color: white;
}

#mtrca-number h4{
    padding-bottom: 25px;
}

#mtrca-number span{
    padding-left: 25px;
}

.bn60 {
    background-color: #190c8d;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 80px;
    
  }