@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&family=Unbounded:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
#visible {
  display: block;
  width: 90%;
  border-radius: none;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-left: 0%;
}

#modal-text {
  color: #000000;
  font-family: sans-serif;
}

.username {
  color: white;
  margin: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

#sidebar {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: rgb(33, 33, 33);
}
#sidebar h4 {
  font-size: 1.5rem;
}
#sidebar h5 {
  font-size: 1rem;
}

.profile {
  width: 3rem;
  height: 3rem;
  margin: 0.2rem;
  margin-right: 1rem;
  margin-right: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  color: #42EE49;
}

* {
  font-family: "Unbounded", sans-serif;
}

.link {
  list-style: none;
  text-decoration: none;
}

.custom-nav {
  width: 100%;
  background-color: #7b15d5;
}

.container {
  width: 100%;
  background-color: #7b15d5;
  filter: blur(50%);
  box-shadow: rgba(162, 159, 159, 0.049) 0px 7px 29px 0px;
}
.container .link-collection {
  color: white;
  display: flex;
  list-style: none;
  margin: auto;
  padding: 0.3rem;
  margin-left: -3rem;
}
.container .link-collection li {
  margin: 1rem;
  cursor: pointer;
}
.container .link-collection li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}
.container .link-collection li a:active {
  color: #42EE49;
}
.container .link-collection li a:hover {
  color: #42EE49;
}
.container .link-collection li:hover {
  color: #42EE49;
}
.container a {
  margin: auto;
}
.container .btn-contact {
  all: unset;
  background-color: #42EE49;
  padding: 0.5rem 2.2rem;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: none;
  text-decoration: none;
}
.container .btn-contact:active {
  background-color: rgb(165, 165, 165);
}
.container .btn-contact:hover {
  background-color: #222222;
  color: rgb(255, 255, 255);
}

.logo {
  width: 20%;
  margin: auto;
  padding-top: 1rem;
}

.logox {
  width: 15%;
  margin: auto;
  padding-top: 1rem;
}

.nav-hold {
  width: 100%;
  justify-content: right;
}

.nav-link {
  all: unset;
  color: #000000;
  font-size: 1rem;
  font-weight: 300;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5em;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgba(45, 157, 255, 0.4156862745);
  border-radius: 0.3rem;
  cursor: pointer;
}

.me-auto {
  text-align: center;
  margin: auto;
  justify-self: center;
}

.n {
  color: aliceblue;
  background-color: rgb(255, 255, 255);
  max-width: 2.3em;
  display: flex;
  align-self: center;
  border-radius: 10%;
  border: none;
}

.n:hover {
  background-color: #cccccc;
  color: white;
}

@media screen and (max-width: 1020px) {
  .profile {
    margin: auto;
  }
  .username {
    margin: 1.5rem;
  }
  .container {
    width: 100%;
    margin-top: -0.5srem;
  }
  .link {
    margin: 1rem;
    font-size: 1.1rem;
  }
  .btn-contact {
    font-size: 1rem;
  }
}
@media screen and (max-width: 720px) {
  .logox {
    width: 30%;
  }
  .logo {
    width: 40%;
    margin: auto;
  }
  .profile {
    margin: auto;
    margin-right: 0;
  }
  .btn-contact {
    padding: 0.3rem 1.5rem;
    font-size: 0.8rem;
    display: none;
    margin-left: -8%;
  }
  .container {
    width: 100%;
    display: block;
  }
  .container .link-collection {
    display: none;
  }
  .username {
    display: none;
  }
  .n {
    margin-left: 80%;
    width: 20%;
    padding: auto;
    margin-top: -14%;
  }
}/*# sourceMappingURL=navbar.css.map */