*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200&family=Unbounded:wght@200&display=swap');

body{
    // background: url(../assets/bg2.svg);
    max-width: 1280px;
    background-size: cover;
    overflow-x: hidden;
}

@media screen and (min-width:1400px) {
    html{
        margin-left: 15%;
        margin-right: 15%;
    }
}

.alert-admin{
    margin: 15%;
    color: #42EE49;
    text-align: center;
    font-weight: 900;
}



.alertx{
    margin: 2%;
    color: #42EE49;
    text-align: left;
    font-weight: 900;
}

.alerty{
    margin: 2%;
    color: #6E25CB;
    text-align: left;
    font-weight: 900;
}

      
#btn-contact {
    all: unset;
    background-color: #42EE49;
    padding: 0.5rem 3.2rem;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: none;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    margin-left: 0%;
  }
  #btn-contact:active {
    background-color: rgb(165, 165, 165);
  }
  #btn-contact:hover {
    background-color: #222222;
    color: rgb(255, 255, 255);
  }